{% extends "base.html" %}

{% block title %}ODH Developes Blogs{% endblock %}

{% block content %}

    <div class="breadcumb-wrapper" data-bg-src="static/assets/img/blog/breadcrumb-bg.jpg">
        <div class="container">
            <div class="breadcumb-content">
                <h1 class="breadcumb-title">Blog Grid</h1>
                <ul class="breadcumb-menu">
                    <li><a href="/">Home</a></li>
                    <li>Blogs</li>
                </ul>
            </div>
        </div>
    </div>
    <section class="th-blog-wrapper space-top space-extra-bottom">
        <div class="container">
            <div class="row gy-30 justify-content-center">
                <div class="col-lg-4 col-md-6">
                    <div class="blog-card">
                        <div class="blog-img"><a href="/odh-details-blog"><img src="static/assets/img/blog/blog_1_1.jpg"
                                    alt="Image"></a>
                            <div class="date"><a href="/odh-blogs">22 Feb</a></div>
                        </div>
                        <div class="blog-content">
                            <div class="blog-meta"><a href="/odh-blogs"><i class="fa-solid fa-user"></i> Emma</a> <a
                                    href="/odh-blogs"><i class="fa-solid fa-comments"></i> No Comments</a></div>
                            <h3 class="box-title"><a href="/odh-details-blog">Building gains into housing stocks and how
                                    to trade the sector</a></h3><a href="/odh-details-blog"
                                class="th-btn pill style3">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="blog-card">
                        <div class="blog-img"><a href="/odh-details-blog"><img src="static/assets/img/blog/blog_1_2.jpg"
                                    alt="Image"></a>
                            <div class="date"><a href="/odh-blogs">23 Feb</a></div>
                        </div>
                        <div class="blog-content">
                            <div class="blog-meta"><a href="/odh-blogs"><i class="fa-solid fa-user"></i> Michel</a> <a
                                    href="/odh-blogs"><i class="fa-solid fa-comments"></i> 2 Comments</a></div>
                            <h3 class="box-title"><a href="/odh-details-blog">92% of millennial homebuyers say has
                                    impacted their plans</a></h3><a href="/odh-details-blog"
                                class="th-btn pill style3">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="blog-card">
                        <div class="blog-img"><a href="/odh-details-blog"><img src="static/assets/img/blog/blog_1_3.jpg"
                                    alt="Image"></a>
                            <div class="date"><a href="/odh-blogs">24 Feb</a></div>
                        </div>
                        <div class="blog-content">
                            <div class="blog-meta"><a href="/odh-blogs"><i class="fa-solid fa-user"></i> Oliver</a> <a
                                    href="/odh-blogs"><i class="fa-solid fa-comments"></i> No Comments</a></div>
                            <h3 class="box-title"><a href="/odh-details-blog">Exploring the impact of climate change on
                                    global markets</a></h3><a href="/odh-details-blog" class="th-btn pill style3">Read
                                More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="blog-card">
                        <div class="blog-img"><a href="/odh-details-blog"><img src="static/assets/img/blog/blog_1_4.jpg"
                                    alt="Image"></a>
                            <div class="date"><a href="/odh-blogs">26 Feb</a></div>
                        </div>
                        <div class="blog-content">
                            <div class="blog-meta"><a href="/odh-blogs"><i class="fa-solid fa-user"></i> Elena</a> <a
                                    href="/odh-blogs"><i class="fa-solid fa-comments"></i> 5 Comments</a></div>
                            <h3 class="box-title"><a href="/odh-details-blog">The future of city living and its
                                    influence on of the in design</a></h3><a href="/odh-details-blog"
                                class="th-btn pill style3">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="blog-card">
                        <div class="blog-img"><a href="/odh-details-blog"><img src="static/assets/img/blog/blog_1_5.jpg"
                                    alt="Image"></a>
                            <div class="date"><a href="/odh-blogs">27 Feb</a></div>
                        </div>
                        <div class="blog-content">
                            <div class="blog-meta"><a href="/odh-blogs"><i class="fa-solid fa-user"></i> Sam</a> <a
                                    href="/odh-blogs"><i class="fa-solid fa-comments"></i> No Comments</a></div>
                            <h3 class="box-title"><a href="/odh-details-blog">Exploring innovative architecture trends
                                    and their impact</a></h3><a href="/odh-details-blog" class="th-btn pill style3">Read
                                More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="blog-card">
                        <div class="blog-img"><a href="/odh-details-blog"><img src="static/assets/img/blog/blog_1_6.jpg"
                                    alt="Image"></a>
                            <div class="date"><a href="/odh-blogs">16 Mar</a></div>
                        </div>
                        <div class="blog-content">
                            <div class="blog-meta"><a href="/odh-blogs"><i class="fa-solid fa-user"></i> David</a> <a
                                    href="/odh-blogs"><i class="fa-solid fa-comments"></i> 8 Comments</a></div>
                            <h3 class="box-title"><a href="/odh-details-blog">Breaking down latest tech trends and
                                    investment opportunity</a></h3><a href="/odh-details-blog"
                                class="th-btn pill style3">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="blog-card">
                        <div class="blog-img"><a href="/odh-details-blog"><img src="static/assets/img/blog/blog_1_7.jpg"
                                    alt="Image"></a>
                            <div class="date"><a href="/odh-blogs">19 Feb</a></div>
                        </div>
                        <div class="blog-content">
                            <div class="blog-meta"><a href="/odh-blogs"><i class="fa-solid fa-user"></i> Caroline</a> <a
                                    href="/odh-blogs"><i class="fa-solid fa-comments"></i> Urban Living</a></div>
                            <h3 class="box-title"><a href="/odh-details-blog">Choosing a Reliable Real Estate Agent.
                                    What You Need to Know</a></h3><a href="/odh-details-blog"
                                class="th-btn pill style3">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="blog-card">
                        <div class="blog-img"><a href="/odh-details-blog"><img src="static/assets/img/blog/blog_1_8.jpg"
                                    alt="Image"></a>
                            <div class="date"><a href="/odh-blogs">20 Feb</a></div>
                        </div>
                        <div class="blog-content">
                            <div class="blog-meta"><a href="/odh-blogs"><i class="fa-solid fa-user"></i> John</a> <a
                                    href="/odh-blogs"><i class="fa-solid fa-comments"></i> 9 Comments</a></div>
                            <h3 class="box-title"><a href="/odh-details-blog">Analyzing the performance of renewable
                                    energy stocks</a></h3><a href="/odh-details-blog" class="th-btn pill style3">Read
                                More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="blog-card">
                        <div class="blog-img"><a href="/odh-details-blog"><img src="static/assets/img/blog/blog_1_9.jpg"
                                    alt="Image"></a>
                            <div class="date"><a href="/odh-blogs">11 Feb</a></div>
                        </div>
                        <div class="blog-content">
                            <div class="blog-meta"><a href="/odh-blogs"><i class="fa-solid fa-user"></i> Robin Son</a> <a
                                    href="/odh-blogs"><i class="fa-solid fa-comments"></i> Analysis</a></div>
                            <h3 class="box-title"><a href="/odh-details-blog">Riding the Housing Boom Strategies for
                                    Trading Real Estate</a></h3><a href="/odh-details-blog"
                                class="th-btn pill style3">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="blog-card">
                        <div class="blog-img"><a href="/odh-details-blog"><img src="static/assets/img/blog/blog_1_10.jpg"
                                    alt="Image"></a>
                            <div class="date"><a href="/odh-blogs">21 Feb</a></div>
                        </div>
                        <div class="blog-content">
                            <div class="blog-meta"><a href="/odh-blogs"><i class="fa-solid fa-user"></i> Erina Zu</a> <a
                                    href="/odh-blogs"><i class="fa-solid fa-comments"></i> No Comments</a></div>
                            <h3 class="box-title"><a href="/odh-details-blog">Housing Stocks on the Rise Key Strategies
                                    for Investors</a></h3><a href="/odh-details-blog" class="th-btn pill style3">Read
                                More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="blog-card">
                        <div class="blog-img"><a href="/odh-details-blog"><img src="static/assets/img/blog/blog_1_11.jpg"
                                    alt="Image"></a>
                            <div class="date"><a href="/odh-blogs">13 Feb</a></div>
                        </div>
                        <div class="blog-content">
                            <div class="blog-meta"><a href="/odh-blogs"><i class="fa-solid fa-user"></i> Henry</a> <a
                                    href="/odh-blogs"><i class="fa-solid fa-comments"></i> Opinion Piece</a></div>
                            <h3 class="box-title"><a href="/odh-details-blog">Capitalizing on Housing Trends How to
                                    Trade the Sector</a></h3><a href="/odh-details-blog" class="th-btn pill style3">Read
                                More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="blog-card">
                        <div class="blog-img"><a href="/odh-details-blog"><img src="static/assets/img/blog/blog_1_12.jpg"
                                    alt="Image"></a>
                            <div class="date"><a href="/odh-blogs">15 Feb</a></div>
                        </div>
                        <div class="blog-content">
                            <div class="blog-meta"><a href="/odh-blogs"><i class="fa-solid fa-user"></i> Pitter</a> <a
                                    href="/odh-blogs"><i class="fa-solid fa-comments"></i> Market Trends</a></div>
                            <h3 class="box-title"><a href="/odh-details-blog">Navigating Housing Stocks Building Profits
                                    in Real Estate</a></h3><a href="/odh-details-blog" class="th-btn pill style3">Read
                                More</a>
                        </div>
                    </div>
                </div>
                <div class="th-pagination text-center pt-4">
                    <ul>
                        <li><a href="/odh-blogs"><i class="far fa-arrow-left"></i></a></li>
                        <li><a href="/odh-blogs">1</a></li>
                        <li><a href="/odh-blogs">2</a></li>
                        <li><a href="/odh-blogs">3</a></li>
                        <li><a class="next-page" href="/odh-blogs">Next <i class="far fa-arrow-right"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>


{% endblock %}