

   <!-- About page -->
<!-- 
 {% extends "base.html" %}
{% block title %}About Us{% endblock %} {% block content %} <div class="breadcumb-wrapper"
    data-bg-src="static/assets/img/bg/breadcrumb-bg.jpg">
    <div class="container">
        <div class="breadcumb-content">
            <h1 class="breadcumb-title">About Us</h1>
            <ul class="breadcumb-menu">
                <li><a href="/">Home</a></li>
                <li>About Us</li>
            </ul>
        </div>
    </div>
</div>
<div class="why-sec-2 bg-smoke space" id="why-sec">
    <div class="shape-mockup jump d-none d-md-block" style="top: 20%; right: 5%"> <img
            src="static/assets/img/shape/why-2-shape.png" alt="img" /> </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-7">
                <div class="title-area text-center">
                    <p class="sub-title fadeinup wow" data-wow-duration="1.5s" data-wow-delay="0.1s"> <span
                            class="double-line"></span> Who We Are </p>
                    <h2 class="sec-title fadeinup wow" data-wow-duration="1.5s" data-wow-delay="0.3s"> A Legacy of Trust
                        and Excellence in Real Estate </h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-10 col-md-11 col-12">
                <p class="mb-4"> <strong>ODH Developers Private Limited</strong> is a well-established, professionally
                    run company engaged in Infrastructure Development and Real Estate Projects, and is one of the
                    fastest growing and most trusted real estate brands in Uttar Pradesh, India. The group is developing
                    housing projects in Kanpur, Lucknow, Yamuna Expressway and Greater Noida, with a diverse portfolio
                    spanning construction and contracting. The company has young, dynamic and enterprising experts who
                    have the passion to develop and deliver quality projects. Ethical propriety and transparency are the
                    bedrock of our corporate philosophy. ODH Developers has been promoted by leaders with solid
                    experience in the real estate industry. Our meteoric rise in the real estate industry is owed to our
                    ceaseless efforts to understand the unspoken needs of our customers and to go above and beyond their
                    expectations. This commitment enables us to develop world-class properties and offer them at the
                    most competitive prices in the industry. </p>
                <p class="mb-4"> Our credo, <em>Credibility of Commitments</em>, reflects our mission to offer superior
                    construction quality – from the design-driven facades crafted by our in-house architects, to
                    flawless interiors tailored to each market, supported by world-class service. ODH Developers is
                    where <strong>luxury meets economy</strong>. We are committed to bringing different facets of
                    quality living and lifestyle amenities through our unique projects. Our vision reflects a strong
                    commitment to society, bringing you closer to your desires and aligning perfectly with your dreams.
                </p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-7">
                <div class="title-area text-center">
                    <p class="sub-title fadeinup wow" data-wow-duration="1.5s" data-wow-delay="0.1s"> <span
                            class="double-line"></span> What We Do </p>
                    <h2 class="sec-title fadeinup wow" data-wow-duration="1.5s" data-wow-delay="0.3s"> Creating Value
                        Through Vision and Expertise </h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-10 col-md-11 col-12">
                <p class="mb-4 text-center"> At ODH Developers, we are engaged in delivering exceptional real estate
                    solutions that blend innovation with reliability. Our expertise spans across residential
                    communities, commercial spaces, and investment advisory services, all designed to meet diverse
                    client needs. We focus on creating projects that reflect quality construction, modern design, and
                    long-term value. With a strong commitment to transparency and customer trust, we ensure that every
                    property we develop is more than just a structure — it is a step towards a better lifestyle and
                    future. </p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-7">
                <div class="title-area text-center">
                    <p class="sub-title fadeinup wow" data-wow-duration="1.5s" data-wow-delay="0.1s"> <span
                            class="double-line"></span> Our Mission </p>
                    <h2 class="sec-title fadeinup wow" data-wow-duration="1.5s" data-wow-delay="0.3s"> Building Dreams
                        with Integrity and Excellence </h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-10 col-md-11 col-12">
                <p class="mb-4 text-center"> At ODH Developers, our mission is to build more than just properties — we
                    build experiences. Guided by our credo of Credibility of Commitments, we strive to deliver
                    developments that combine architectural excellence, sustainable practices, and unmatched quality,
                    creating lasting value for our customers and communities. </p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-7">
                <div class="title-area text-center">
                    <p class="sub-title fadeinup wow" data-wow-duration="1.5s" data-wow-delay="0.1s"> <span
                            class="double-line"></span> Our Vision </p>
                    <h2 class="sec-title fadeinup wow" data-wow-duration="1.5s" data-wow-delay="0.3s"> Redefining Real
                        Estate with Innovation and Trust </h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-10 col-md-11 col-12">
                <p class="mb-4 text-center"> Our vision has been the same since the beginning, to be a dynamic and
                    innovative real estate company with a passionate commitment to provide superbly designed and built
                    homes in excellent locations. We focus on developing township and building apartments adhering to
                    our trademark high standards and catering to all budgets. After successfully delivering excellent
                    homes to hundreds of happy families, we aim to continue building homes and in the process, creating
                    communities. </p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-7">
                <div class="title-area text-center">
                    <p class="sub-title fadeinup wow" data-wow-duration="1.5s" data-wow-delay="0.1s"> <span
                            class="double-line"></span> VERSATILITY </p>
                    <h2 class="sec-title fadeinup wow" data-wow-duration="1.5s" data-wow-delay="0.3s"> Tailored Real
                        Estate Solutions for Every Dream </h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-10 col-md-11 col-12">
                <p class="mb-4 text-center"> <strong>We are professional and adaptable</strong> to the varied needs of
                    our clients. We leverage our collective strength to provide <strong>exceptional real estate
                        solutions</strong> across residential, commercial, and investment domains. Our versatility lies
                    in our ability to <strong>understand unique requirements</strong> and deliver projects that
                    seamlessly combine <strong>quality, innovation, and functionality</strong>. Whether it’s designing
                    modern homes, developing large-scale townships, or guiding clients in property investments, we bring
                    the same commitment to excellence in every endeavor. This adaptability ensures that <strong>ODH
                        Developers remains a trusted partner</strong>, capable of shaping spaces that cater to diverse
                    lifestyles while exceeding expectations. </p>
            </div>
        </div>
    </div>

    <div class="counter-sec1 space overflow-hidden" data-bg-src="static/assets/img/bg/counter-1-bg.jpg">
        <div class="container">
            <div class="counter-card-wrap">
                <div class="counter-card fadeinup wow">
                    <div class="box-icon"><img src="static/assets/img/icon/counter_1_1.svg" alt="Icon"></div>
                    <div class="media-body">
                        <h4 class="box-number"><span class="counter-number">1950 </span><span
                                class="plus-simple">+</span></h4>
                        <p class="box-text">Project Handover</p>
                    </div>
                </div>
                <div class="divider"></div>
                <div class="counter-card fadeinup wow">
                    <div class="box-icon"><img src="static/assets/img/icon/counter_1_1.svg" alt="Icon"></div>
                    <div class="media-body">
                        <h4 class="box-number"><span class="counter-number">2 </span><span class="plus-simple">m</span>
                        </h4>
                        <p class="box-text">Monthly Visitors</p>
                    </div>
                </div>
                <div class="divider"></div>
                <div class="counter-card fadeinup wow">
                    <div class="box-icon"><img src="static/assets/img/icon/counter_1_1.svg" alt="Icon"></div>
                    <div class="media-body">
                        <h4 class="box-number"><span class="counter-number">850 </span><span
                                class="plus-simple">+</span></h4>
                        <p class="box-text">Property Ready</p>
                    </div>
                </div>
                <div class="divider"></div>
                <div class="counter-card fadeinup wow">
                    <div class="box-icon"><img src="static/assets/img/icon/counter_1_1.svg" alt="Icon"></div>
                    <div class="media-body">
                        <h4 class="box-number"><span class="counter-number">98 </span><span class="plus-simple">%</span>
                        </h4>
                        <p class="box-text">Happy Customers</p>
                    </div>
                </div>
                <div class="divider"></div>
            </div>
        </div>
    </div>
    <div class="marquee-section-3 overflow-hidden" style="margin-bottom: 0px;padding-bottom: 0px; ">
        <div class="marquee-wrapper" style="margin-top: 60px;">
            <div class="marquee">
                <div class="marquee-group">
                    <div class="text"><a href="/services"><img src="static/assets/img/icon/marquee-icon-1-1.svg"
                                alt="img">Luxury Home Available - Explore Now!</a></div>
                    <div class="text"><a href="/services"><img src="static/assets/img/icon/marquee-icon-1-1.svg"
                                alt="img">Deluxe Cottage - Explore Now!</a></div>
                    <div class="text"><a href="/services"><img src="static/assets/img/icon/marquee-icon-1-1.svg"
                                alt="img">Pet-friendly Rental Houses</a></div>
                    <div class="text"><a href="/services"><img src="static/assets/img/icon/marquee-icon-1-1.svg"
                                alt="img">Luxury Home Available - Explore Now!</a></div>
                    <div class="text"><a href="/services"><img src="static/assets/img/icon/marquee-icon-1-1.svg"
                                alt="img">Deluxe Cottage - Explore Now!</a></div>
                    <div class="text"><a href="/services"><img src="static/assets/img/icon/marquee-icon-1-1.svg"
                                alt="img">Pet-friendly Rental Houses</a></div>
                    <div class="text"><a href="/services"><img src="static/assets/img/icon/marquee-icon-1-1.svg"
                                alt="img">Luxury Home Available - Explore Now!</a></div>
                    <div class="text"><a href="/services"><img src="static/assets/img/icon/marquee-icon-1-1.svg"
                                alt="img">Deluxe Cottage - Explore Now!</a></div>
                    <div class="text"><a href="/services"><img src="static/assets/img/icon/marquee-icon-1-1.svg"
                                alt="img">Luxury Home Available - Explore Now!</a></div>
                    <div class="text"><a href="/services"><img src="static/assets/img/icon/marquee-icon-1-1.svg"
                                alt="img">Pet-friendly Rental Houses</a></div>
                    <div class="text"><a href="/services"><img src="static/assets/img/icon/marquee-icon-1-1.svg"
                                alt="img">Deluxe Cottage - Explore Now!</a></div>
                    <div class="text"><a href="/services"><img src="static/assets/img/icon/marquee-icon-1-1.svg"
                                alt="img">Luxury Home Available - Explore Now!</a></div>
                </div>
                <div class="marquee-group">
                    <div class="text"><a href="/services"><img src="static/assets/img/icon/marquee-icon-1-1.svg"
                                alt="img">Luxury Home Available - Explore Now!</a></div>
                    <div class="text"><a href="/services"><img src="static/assets/img/icon/marquee-icon-1-1.svg"
                                alt="img">Deluxe Cottage - Explore Now!</a></div>
                    <div class="text"><a href="/services"><img src="static/assets/img/icon/marquee-icon-1-1.svg"
                                alt="img">Pet-friendly Rental Houses</a></div>
                    <div class="text"><a href="/services"><img src="static/assets/img/icon/marquee-icon-1-1.svg"
                                alt="img">Luxury Home Available - Explore Now!</a></div>
                    <div class="text"><a href="/services"><img src="static/assets/img/icon/marquee-icon-1-1.svg"
                                alt="img">Deluxe Cottage - Explore Now!</a></div>
                    <div class="text"><a href="/services"><img src="static/assets/img/icon/marquee-icon-1-1.svg"
                                alt="img">Pet-friendly Rental Houses</a></div>
                    <div class="text"><a href="/services"><img src="static/assets/img/icon/marquee-icon-1-1.svg"
                                alt="img">Luxury Home Available - Explore Now!</a></div>
                    <div class="text"><a href="/services"><img src="static/assets/img/icon/marquee-icon-1-1.svg"
                                alt="img">Deluxe Cottage - Explore Now!</a></div>
                    <div class="text"><a href="/services"><img src="static/assets/img/icon/marquee-icon-1-1.svg"
                                alt="img">Luxury Home Available - Explore Now!</a></div>
                    <div class="text"><a href="/services"><img src="static/assets/img/icon/marquee-icon-1-1.svg"
                                alt="img">Pet-friendly Rental Houses</a></div>
                    <div class="text"><a href="/services"><img src="static/assets/img/icon/marquee-icon-1-1.svg"
                                alt="img">Deluxe Cottage - Explore Now!</a></div>
                    <div class="text"><a href="/services"><img src="static/assets/img/icon/marquee-icon-1-1.svg"
                                alt="img">Luxury Home Available - Explore Now!</a></div>
                </div>
            </div>
        </div>
    </div> 
    
    {% endblock %} -->





