{% extends "base.html" %}

{% block title %}ODH Developers Team {% endblock %}

{% block content %}

    <div class="breadcumb-wrapper" data-bg-src="static/assets/img/bg/breadcrumb-bg.jpg">
        <div class="container">
            <div class="breadcumb-content">
                <h1 class="breadcumb-title"> Agents</h1>
                <ul class="breadcumb-menu">
                    <li><a href="/">Home</a></li>
                    <li> Agents</li>
                </ul>
            </div>
        </div>
    </div>
    <section class="team-area-1 space">
        <div class="container">
            <div class="row gy-30 justify-content-center">
                <div class="col-xl-3 col-lg-4 col-md-6 fadeinup wow">
                    <div class="team-card style-2" data-bg-src="static/assets/img/shape/team-2-bg-shape.png">
                        <div class="team-img"><img src="static/assets/img/team/team_2_1.png" alt="Team"></div>
                        <div class="team-content">
                            <div class="left-contet">
                                <h3 class="box-title"><a href="/team-details">Vickie Wisozk</a></h3><span
                                    class="team-desig">Real Estate Manager</span>
                            </div>
                            <div class="team-social">
                                <div class="th-social"><a target="_blank" href="https://instagram.com/"><i
                                            class="fab fa-linkedin-in"></i></a> <a target="_blank"
                                        href="https://linkedin.com/"><i class="fa-solid fa-envelope"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 fadeinup wow">
                    <div class="team-card style-2" data-bg-src="static/assets/img/shape/team-2-bg-shape.png">
                        <div class="team-img"><img src="static/assets/img/team/team_2_2.png" alt="Team"></div>
                        <div class="team-content">
                            <div class="left-contet">
                                <h3 class="box-title"><a href="/team-details">Renee Strosin</a></h3><span
                                    class="team-desig">Property Developer</span>
                            </div>
                            <div class="team-social">
                                <div class="th-social"><a target="_blank" href="https://instagram.com/"><i
                                            class="fab fa-linkedin-in"></i></a> <a target="_blank"
                                        href="https://linkedin.com/"><i class="fa-solid fa-envelope"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 fadeinup wow">
                    <div class="team-card style-2" data-bg-src="static/assets/img/shape/team-2-bg-shape.png">
                        <div class="team-img"><img src="static/assets/img/team/team_2_3.png" alt="Team"></div>
                        <div class="team-content">
                            <div class="left-contet">
                                <h3 class="box-title"><a href="/team-details">Zulia Era</a></h3><span
                                    class="team-desig">Listing Coordinator</span>
                            </div>
                            <div class="team-social">
                                <div class="th-social"><a target="_blank" href="https://instagram.com/"><i
                                            class="fab fa-linkedin-in"></i></a> <a target="_blank"
                                        href="https://linkedin.com/"><i class="fa-solid fa-envelope"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 fadeinup wow">
                    <div class="team-card style-2" data-bg-src="static/assets/img/shape/team-2-bg-shape.png">
                        <div class="team-img"><img src="static/assets/img/team/team_2_4.png" alt="Team"></div>
                        <div class="team-content">
                            <div class="left-contet">
                                <h3 class="box-title"><a href="/team-details">Bernice Roberts</a></h3><span
                                    class="team-desig">Leasing Consultant</span>
                            </div>
                            <div class="team-social">
                                <div class="th-social"><a target="_blank" href="https://instagram.com/"><i
                                            class="fab fa-linkedin-in"></i></a> <a target="_blank"
                                        href="https://linkedin.com/"><i class="fa-solid fa-envelope"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 fadeinup wow">
                    <div class="team-card style-2" data-bg-src="static/assets/img/shape/team-2-bg-shape.png">
                        <div class="team-img"><img src="static/assets/img/team/team_2_5.png" alt="Team"></div>
                        <div class="team-content">
                            <div class="left-contet">
                                <h3 class="box-title"><a href="/team-details">Martha Leffler</a></h3><span
                                    class="team-desig">Real Estate Manager</span>
                            </div>
                            <div class="team-social">
                                <div class="th-social"><a target="_blank" href="https://instagram.com/"><i
                                            class="fab fa-linkedin-in"></i></a> <a target="_blank"
                                        href="https://linkedin.com/"><i class="fa-solid fa-envelope"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 fadeinup wow">
                    <div class="team-card style-2" data-bg-src="static/assets/img/shape/team-2-bg-shape.png">
                        <div class="team-img"><img src="static/assets/img/team/team_2_6.png" alt="Team"></div>
                        <div class="team-content">
                            <div class="left-contet">
                                <h3 class="box-title"><a href="/team-details">Thomas Kirlin</a></h3><span
                                    class="team-desig">Listing Coordinator</span>
                            </div>
                            <div class="team-social">
                                <div class="th-social"><a target="_blank" href="https://instagram.com/"><i
                                            class="fab fa-linkedin-in"></i></a> <a target="_blank"
                                        href="https://linkedin.com/"><i class="fa-solid fa-envelope"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 fadeinup wow">
                    <div class="team-card style-2" data-bg-src="static/assets/img/shape/team-2-bg-shape.png">
                        <div class="team-img"><img src="static/assets/img/team/team_2_7.png" alt="Team"></div>
                        <div class="team-content">
                            <div class="left-contet">
                                <h3 class="box-title"><a href="/team-details">Maliha Nancy</a></h3><span
                                    class="team-desig">Property Developer</span>
                            </div>
                            <div class="team-social">
                                <div class="th-social"><a target="_blank" href="https://instagram.com/"><i
                                            class="fab fa-linkedin-in"></i></a> <a target="_blank"
                                        href="https://linkedin.com/"><i class="fa-solid fa-envelope"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 fadeinup wow">
                    <div class="team-card style-2" data-bg-src="static/assets/img/shape/team-2-bg-shape.png">
                        <div class="team-img"><img src="static/assets/img/team/team_2_8.png" alt="Team"></div>
                        <div class="team-content">
                            <div class="left-contet">
                                <h3 class="box-title"><a href="/team-details">Annie Murazik</a></h3><span
                                    class="team-desig">Leasing Consultant</span>
                            </div>
                            <div class="team-social">
                                <div class="th-social"><a target="_blank" href="https://instagram.com/"><i
                                            class="fab fa-linkedin-in"></i></a> <a target="_blank"
                                        href="https://linkedin.com/"><i class="fa-solid fa-envelope"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}